<body class="g-sidenav-show  bg-gray-200">
    <aside class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3   bg-gradient-dark" id="sidenav-main">
    <app-sidebar></app-sidebar>
    </aside>
    <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
      <!-- Navbar -->
      <app-header></app-header>
      <!-- End Navbar -->
      <div class="container-fluid py-4">
        
      
        <div class="row mb-4">
          <div class="col-lg-12 col-md-6 mb-md-0 mb-4">
            <div class="card">
              <div class="card-header pb-0">
                <div class="row">
                  <div class="col-lg-6 col-7">
                    <h6>liste categorie</h6>
                    <p class="text-sm mb-0">
                      <i class="fa fa-check text-info" aria-hidden="true"></i>
                      <span class="font-weight-bold ms-1" routerLink="/addcategory">Ajouter categorie </span> 
                    </p>
                  </div>
                  <div class="col-lg-6 col-5 my-auto text-end">
                    <div class="dropdown float-lg-end pe-4">
                      <a class="cursor-pointer" id="dropdownTable" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-ellipsis-v text-secondary"></i>
                      </a>
                      <ul class="dropdown-menu px-2 py-3 ms-sm-n4 ms-n5" aria-labelledby="dropdownTable">
                        <li><a class="dropdown-item border-radius-md" href="javascript:;">Action</a></li>
                        <li><a class="dropdown-item border-radius-md" href="javascript:;">Another action</a></li>
                        <li><a class="dropdown-item border-radius-md" href="javascript:;">Something else here</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-body px-0 pb-2">
                <div class="table-responsive">
                  <table class="table align-items-center mb-0">
                    <thead>
                      <tr>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">name</th>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">description</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let a of listCAT; let i =index;">
                        <td>{{i+1}}</td>
                        <td>
                          <div class="d-flex px-2 py-1">
                           
                            <div class="d-flex flex-column justify-content-center">
                              <h6 class="mb-0 text-sm">{{a.name}}</h6>
                            </div>
                          </div>
                        </td>
                        <td>
                            <div class="d-flex px-2 py-1">
                              
                              <div class="d-flex flex-column justify-content-center">
                                <h6 class="mb-0 text-sm">{{a.description}}</h6>
                              </div>
                            </div>
                          </td>
                         
                        


                          <td>
                            <button  [routerLink]="['/detailcategory',a.id]" type="button" class="btn btn-success">Details</button>
                            
                            <button [routerLink]="['/updatecategory',a.id]"  type="button" class="btn btn-warning"   >Update</button>
                            <button   (click)="deleteone(a.id)"  type="button" class="btn btn-danger">Delete</button>
                          </td>
                      </tr>
                      
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          
        </div>
       <app-footer></app-footer>
      </div>
    </main>
  
    <!--   Core JS Files   -->
    
  </body>